<!DOCTYPE html>
<html>
<head>
    <style>
        body {
            font-family: Arial, sans-serif; 
        }
        
        .content {
            background-color: #f4f4f4;
            padding: 20px;
        }
    </style>
</head>
<body>
    <div class="content">
        <h1>Mensaje de Contacto de <%= name %></h1>
        <p><strong>Correo:</strong> <%= email %></p>
        <hr>
        <p><strong>Mensaje:</strong></p>
        <p>Mensaje de prueba</p>
    </div>
    <div style="text-align: center;">
        <img src="cid:registered_image" 
             alt="Imagen de inscripción" 
             width="150" 
             style="display: block; margin: 0 auto;">
    </div>
</body>
</html>