@import "../../styles/variables";
@import "../../styles/mixins";

.footer {
  background: linear-gradient(135deg, $primary-700, $primary-800);
  padding: $spacing-lg;

  &__bottom {
    @include container;
    display: flex;
    flex-direction: column;
    gap: $spacing-xs;
    text-align: center;
    font-size: 0.85rem;
    color: rgba(255, 255, 255, 0.75);

    @include tablet {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      text-align: left;
    }
  }

  &__credit {
    display: flex;
    flex-direction: row;
    align-items: center;
    strong {
      color: $accent-500;
      font-weight: 600;
    }
  }

  &__copyright {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
}

.footer__logo-img {
  margin-left: 2rem;
  width: 6rem;
}

.footer__logo-carrera-img {
  margin-left: 2rem;
  width: 6rem;
  max-width: 2rem;
}
