<section id="registration-steps" class="registration-steps">
  <!-- Background Elements -->
  <div class="registration-steps__background"></div>
  <div class="registration-steps__pattern"></div>

  <div class="registration-steps__container">
    <div class="registration-steps__content">
      <h1 class="registration-steps__title">
        <span class="registration-steps__title-accent">
          {{ t().registrationSteps.title }}
        </span>
      </h1>

      <div class="steps__grid">
        @for (d of distances; track $index) {
        <div class="steps__card">
          <div
            [ngClass]="'steps__card-header--' + d.type.toLowerCase()"
            class="steps__card-header"
          >
            <span class="steps__card-title">{{ d.title }}</span>
            <br />
            <span class="steps__card-subtitle">{{ d.subtitle }}</span>
          </div>

          <div class="steps__content">
            <p class="steps__card-description">{{ d.price }}</p>

            <div class="steps__stats">
              <span class="steps__stat">{{ d.detail }}</span>
            </div>
            <br />
            <a href="#contact" class="btn btn--tertiary-inverted">
              {{ t().hero.cta.primary }}
            </a>
          </div>
        </div>
        }
      </div>
      <br />
      <br />
      <p class="registration-steps__subtitle">
        <strong>Descuento para clubes de running</strong>
      </p>
    </div>
    <div class="registration-steps__detail">
      <p>
        Los clubes que inscriban mínimo <strong>10 atletas</strong> reciben un
        <strong>10% de descuento</strong> en la inscripción a
        <strong>Corramos por un Sueño 2026</strong>. <br /><br />
        Para acceder al beneficio, comunícate directamente al
        <strong>WhatsApp oficial de la carrera</strong>.
      </p>

      <div class="socials">
        <a href="https://wa.me/+573128821575" target="_blank">
          <img src="/icons/whatsapp-line.svg" alt="Whatsapp" />
        </a>
      </div>
    </div>
  </div>
</section>
